<div class="container">
<div class="wrapper">
  <div class="column">
    <div class="progLangCard">
      <h3>Programming <br/> Languages</h3>
      <div>
        <ul class="skillList">
          <li>C</li>
          <li>C++</li>
          <li>C#</li>
          <li>Java</li>
          <li>VB Script</li>
          <li>SQL</li>
          <li>Python</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="webTechCard">
        <h3>Web <br/> Technologies</h3>
        <div>
            <ul class="skillList">
              <li>Html</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>jQuery</li>
              <li>AngularJS</li>
              <li>ASP.NET</li>
            </ul>
        </div>
      </div>
  </div>


  <div class="column">
    <div class="softwareCard">
      <h3>Software</h3>
      <div>
        <ul>
          <li>Visual Studio</li>
          <li>Microsoft Office</li>
          <li>Adobe XD</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="resume">
    <p>For more information, you can find my Resume below.</p>
    <a href="https://drive.google.com/open?id=1gjrEK1jcNe2Yu-AxISmpVc1efw-jnRiu" target="_blank">Resume</a>
</div>  
</div>