<div class="wrapper">
  <section class="about-text">
    <div>
      <div class="intro">
      <h4>Who's That Guy?</h4>
      <h5>It's Parth.</h5>
      </div>
      <p>
          I am a graduate student in Computer Science Program at Syracuse
          University. Prior to that, I was busy gathering experience as 
          Junior at Product Specialist at Cognizant Technology Solutions, India.
          It was quite an experience working for almost 3 years in corporate.
          I have grabbed my undergraduate degree in Computer Engineering from
          Nirma University, India.
      </p>
    </div>
    <div>
      <h5>Still there...</h5>
      <p>
          I love my days when the only problem is deciding either Tea or Coffee.
          No hard feelings, code. I have been practicing designing from quite some time now.
          It all started with iOS applications and then to webistes. Yet everytime I feel like
          there is a lot to learn. One thing I have learnt from playing sports and hiking is That
          Never Give Up. Oh, if I didn't mention, I love hiking! Currently, I am looking for 
          full-time job opportunities starting Summer 2020. I will be the first one to admit 
          if I don't know something but I assure you I will find the solution to it.
      </p>

      <div class="tldr">
        <h4>TL;DR</h4>
        <h5>Parth Jaradi <br/> Graduate Student in Computer Science.</h5>
      </div>
    </div>
  </section>
  <section class="about-img">
    <div class="img1"><img src="../../assets/2.JPG"></div>
    <div class="img2"><img src="../../assets/1.jpg"></div>
    <div class="img3"><img src="../../assets/3.JPG"></div>
    <div class="img4"><img src="../../assets/4.JPG"></div>
    
      <!-- <img src="../../assets/My Post.jpg"> -->
  </section>
</div>
