<div class="wrapper">
  <section class="contact-text">
    <h1>let's talk</h1>
    <p class="talkInfo">
        Want to discuss my work or talk about sports ?<br/> Maybe even work together ?
        Feel free to get in touch. <br/> Or you can also contact me for job opportunities. <br/>
        Be rest assured I will reply with an appropriate The Office GIF.
    </p>

    <div class="contactDetail">
      <p>Reach me out via email or on my phone.</p>
      <p class="contactInfo">parthjaradi@gmail.com | 732-402-2940</p>
    </div>
    <div class="linkedin-logo">
        <img src="../../assets/linkedin.svg" alt="Linkedin Logo">
    </div>
    <h4>
        linkedin.com/in/parthjaradi
    </h4>

    <div class="github-logo">
      <img src="../../assets/github.svg" alt="Linkedin Logo">
    </div>
    <h4>
      github.com/parthjaradi
    </h4>
  </section>
</div>