  <div class="wrapper">

    <section class="projects">
        <h3>Academic  Projects <br/> and <br/> Work Experience</h3>
        
    </section>
    
    <section class="cts">
      <div>
        <h3>Cognizant Technology <br/> Solutions </h3>
        <h4>Junior Product Specialist </h4>
      </div>
      <div class="ctsDesc">
        <h3 class="desc1">Website Development</h3>
        <h3 class="desc2">Healthcare Agreements</h3>
        <h3 class="desc3">Automation VB Application</h3>
      </div>
    </section>

  <section class="ui">
    <h3>UI</h3>
    <h4>UI designs built in Adobe XD.</h4>
  </section>


  
  <section class="sneakersstop">
    <div>
        <h3>SneakerStop</h3>
        <h4>AngularJS Website</h4>
    </div>
</section>
 
    <section class="sourceCode">
      <div>
          <h3>Source Code <br/> Publisher</h3>
          <h4>C++ Application</h4>
      </div>
    </section>
  
    <section class="CBIR">
        <div>
          <h3>Content Based <br/> Image Retrieval</h3>
          <h4>Java Application</h4>
        </div>
      </section>

      <section class="tedTalk">
        <div>
          <h3>Ted Talk Analyzer</h3>
          <h4>Python Application</h4>
        </div>
      </section> 
     
  <section class="votingSystem">
    <div>
    <h3>Online Voting <br/> System</h3>
    <h4>ASP.Net Application</h4>
    </div>
  </section>
  
  </div>


